<div class="header bg-gradient-danger py-7 py-lg-8" style="width: 100vw; height: 100vh;">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">404 Page Not Found !!</h1>
                    <p class="text-lead text-white" style="font-weight: 900;">Cannot route to the path you selected.</p>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px;">
                <div class="col-lg-5 col-md-6">
                    <a [routerLink]="['/dashboard']">
                        <button type="button" class="btn btn-secondary">Go Back To /dashboard</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>