<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header">
            <h1></h1>
        </div>
    </div>
</div>
<div class="container-fluid mt--8 d-flex align-items-center justify-content-center">
    <div class="card-body">
        <div class="card bg-gradient-white shadow card-header bg-transparent">
            <div class="form-container" style="margin-top: 25px;">
                <div class="col-xl-8 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Product List :</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush" style="overflow-x: auto;">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Product Title</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Manufacturer</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Manage</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let product of products">
                                    <tr>
                                        <th scope="row">
                                            {{product.brand}}
                                        </th>
                                        <td>
                                            4,569
                                        </td>
                                        <td>
                                            340
                                        </td>
                                        <td>
                                            <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>