.container-fluid {
    
    .header {
        h1 {
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }
}

.content-header {
    text-align: center;
    h3 {
        color: red;
    }

}

@media (min-width: 320px) {
    .header {
        h1 {
            font-size: 18px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }

    .form-select {
        width: 160px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 200px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}

@media (min-width: 375px) {
    .header {
        h1 {
            font-size: 18px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }

    .form-select {
        width: 207px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 247px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}

@media (min-width: 425px) {
    .header {
        h1 {
            font-size: 18px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }

    .form-select {
        width: 257px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 297px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}

@media (min-width: 768px) {
    .header {
        h1 {
            font-size: 20px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }

    .form-select {
        width: 302px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 342px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}

@media (min-width: 1024px) {
    .header {
        h1 {
            font-size: 20px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }

    .form-select {
        width: 244px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 284px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}

@media (min-width: 1440px) {
    .header {
        h1 {
            font-size: 25px;
            color: white;
            font-weight: 900;
            text-align: center;
        }
    }
    
    .form-select {
        width: 450px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }

    .form-select-category {
        width: 490px;
        height: 43px;
        border-color: #C0C0C0;
        border-radius: 10px;
        color: #C0C0C0;
    }
}
