<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header">
            <h1>Add New Product</h1>
        </div>
    </div>
</div>
<div class="container-fluid mt--8 d-flex align-items-center justify-content-center">
    <div class="card-body">
        <div class="card bg-gradient-white shadow card-header bg-transparent">
            <div class="content-header">
                <h3>Product Details :</h3>
            </div>
            <div class="form-container" style="margin-top: 25px;">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <p style="font-weight: 900;">Product Title :</p>
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Product Title" type="text"
                                        formControlName="productTitle">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%; margin: 0%;">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Purchase Price :</p>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <select class="form-select" aria-label="Default select example"
                                            aria-placeholder="Select your price" formControlName="purchasePrice">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <i class="ni ni-fat-add" style="font-size: 30px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Retails Price :</p>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <select class="form-select" aria-label="Default select example"
                                            aria-placeholder="Select your price" formControlName="retailsPrice">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <i class="ni ni-fat-add" style="font-size: 30px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%; margin: 0%;">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Brand :</p>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Brand" type="text"
                                            formControlName="brand">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Manufacturer :</p>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Manufacturer" type="text"
                                            formControlName="manufacturer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%; margin: 0%;">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Category :</p>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <select class="form-select-category" aria-label="Default select example"
                                            aria-placeholder="Select your price" formControlName="category">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <p style="font-weight: 900;">Quantity :</p>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Quantity" type="text"
                                            formControlName="quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <p style="font-weight: 900;">Description :</p>
                                <div class="input-group input-group-alternative mb-3">
                                    <textarea class="form-control" formControlName="textArea" rows="3"
                                        placeholder="Write a text here ...">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4" style="width: 200px;" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>